/*
  TODO:
  - tables
  - forms
  - buttons
  - navs
  - code
*/
/*
  Globals & Includes
  ---
*/
/*
  Breakpoints
  ---
  
  xs is implied by whatever is less than sm
*/
/*
  Type
  ---
  
  Target / Context:
  Foundtion sets the body font size at 100% which is usually 16px
  A standard line height of 1.5ems on the body (@16px) is 24px
*/
/*
  Grids
  ---
*/
/*
  Colours
  ---
*/
/*
  Borders
  ---
*/
/*
  Misc
  ---
*/
/*
  http://droppen.org/?droppen=m66dtgqcwhfr
  TODO:
  - flex? https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
/* Block level elements and resets */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
dl,
hr,
th,
td {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
dl {
  margin-bottom: 1rem; }

img {
  max-width: 100%; }

hr {
  border: none;
  border-bottom: #eee 1px solid;
  margin-top: 1rem;
  margin-bottom: 1rem; }

::-moz-selection {
  color: #000;
  background: rgba(0, 184, 227, 0.6);
  text-shadow: none; }

::selection {
  color: #000;
  background: rgba(0, 184, 227, 0.6);
  text-shadow: none; }

@media (min-width: 37.5em) {
  html {
    font-size: 1.1em; } }

@media (min-width: 60em) {
  html {
    font-size: 1.2em; } }

@media (min-width: 75em) {
  html {
    font-size: 1.3em; } }

@media (min-width: 93.75em) {
  html {
    font-size: 1.4em; } }

body {
  font-size: 100%;
  line-height: 1.5;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500; }

h1 {
  font-size: 2.5em;
  line-height: 1.15; }

h2 {
  font-size: 2em;
  line-height: 1.2; }

h3 {
  font-size: 1.5em;
  line-height: 1.3; }

h4 {
  font-size: 1.25em;
  line-height: 1.4; }

h5 {
  font-size: 1em;
  line-height: 1.5; }

h6,
small {
  font-size: 0.8125em;
  line-height: 1.6; }

article h1, aside h1, nav h1, section h1 {
  font-size: 2em;
  line-height: 1.2; }

article article h1, article aside h1, article nav h1, article section h1, aside article h1, aside aside h1, aside nav h1, aside section h1, nav article h1, nav aside h1, nav nav h1, nav section h1, section article h1, section aside h1, section nav h1, section section h1 {
  font-size: 1.5em;
  line-height: 1.3; }

blockquote {
  border-left: #eee 4px solid;
  padding-left: 1em; }

strong {
  font-weight: 600; }

a {
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*
    TODO: make underline increase in thickness for large font sizes
      - prob. requires some sort of calculation
  */
  background-image: -webkit-linear-gradient(top, #fff 50%, #333 50%);
  background-image: linear-gradient(to bottom, #fff 50%, #333 50%);
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 1em;
  background-size: 2px 2px; }
  a:hover, a:active {
    color: #00b8e3;
    background-image: -webkit-linear-gradient(top, #fff 50%, #00b8e3 50%);
    background-image: linear-gradient(to bottom, #fff 50%, #00b8e3 50%); }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none;
    color: inherit;
    background: none; }
    h1 a:hover, h1 a:active,
    h2 a:hover,
    h2 a:active,
    h3 a:hover,
    h3 a:active,
    h4 a:hover,
    h4 a:active,
    h5 a:hover,
    h5 a:active,
    h6 a:hover,
    h6 a:active {
      background: none; }
  :not(figure) > a:focus {
    outline: none;
    color: #000;
    background: rgba(0, 184, 227, 0.3);
    box-shadow: 0 0 0 0.2em rgba(0, 184, 227, 0.3);
    text-shadow: none; }
  figure > a:hover + figcaption a {
    color: #00b8e3; }
  figure > a:focus {
    outline-color: rgba(0, 184, 227, 0.3); }

ul {
  padding-left: 1em; }

ol {
  padding-left: 1.5em; }

dd {
  margin-left: 2em; }

figure img {
  display: block;
  margin-bottom: 0.5rem; }

figcaption {
  overflow: auto; }

table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  text-align: left; }
  @media (min-width: 37.5em) {
    table td, table th {
      padding: 0.5rem 0.5em; } }
  @media (max-width: 37.5em) {
    table table {
      display: block; }
    table thead {
      display: none; }
    table tbody, table tfoot, table tr, table td, table th {
      display: block; }
    table tr {
      padding: 0.5rem 0.5em; }
    table td:before {
      content: attr(title);
      display: inline-block;
      margin-right: 2%;
      font-weight: 600; } }

/*
  Pass media queries to JS: https://adactio.com/journal/5429
  We do this so we are using one consitant source for this value.
  But also slightly tweaked because Chrome stopped letting us collect the value if the content was inside display:none;
*/
body:after {
  content: 'xs';
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  margin-top: -1.5em;
  padding: 0; }
  @media (min-width: 37.5em) {
    body:after {
      content: 'sm'; } }
  @media (min-width: 60em) {
    body:after {
      content: 'md'; } }
  @media (min-width: 75em) {
    body:after {
      content: 'lg'; } }
  @media (min-width: 93.75em) {
    body:after {
      content: 'xl'; } }

body {
  -webkit-font-feature-settings: "onum", "liga";
          font-feature-settings: "onum", "liga"; }

strong {
  font-weight: 600; }

.caps {
  font-variant: small-caps;
  -webkit-font-feature-settings: "c2sc", "smcp", "onum";
          font-feature-settings: "c2sc", "smcp", "onum"; }

.wrapper {
  margin: auto; }
  .page-header .wrapper,
  .page-content .wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    width: 98%;
    overflow: visible; }
    @media (min-width: 37.5em) {
      .page-header .wrapper,
      .page-content .wrapper {
        width: 95%; } }
    @media (min-width: 60em) {
      .page-header .wrapper,
      .page-content .wrapper {
        width: 90%; } }
    @media (min-width: 75em) {
      .page-header .wrapper,
      .page-content .wrapper {
        width: 85%; } }
    @media (min-width: 93.75em) {
      .page-header .wrapper,
      .page-content .wrapper {
        width: 80%; } }

.page-header,
.page-content {
  margin-bottom: 2rem; }

.page-header {
  text-align: center; }

.reading-length {
  max-width: 38em;
  margin: auto; }

#home a {
  display: inline-block;
  background-position: 0 1.1em; }

#home .page-header-banner {
  margin-top: 2rem; }

#home .page-header-banner,
#home .reading-length {
  width: 90%;
  max-width: 30em; }
  @media (min-width: 28em) {
    #home .page-header-banner,
    #home .reading-length {
      width: 80%; } }

.page-hero {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.25em;
  margin: 1rem auto;
  max-width: 19em; }
  .page-hero:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 37.5em) {
    .page-hero {
      font-size: 1.5em; } }
  @media (min-width: 60em) {
    .page-hero {
      font-size: 2em; } }
  @media (min-width: 75em) {
    .page-hero {
      font-size: 2.5em; } }
  .page-hero p {
    font-size: 0.8125em; }

.page-subtitle {
  font-size: 1em;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400; }

#application-for-webstock-16-scholarship {
  background-color: #fafeff;
  color: #003845; }
  #application-for-webstock-16-scholarship h1, #application-for-webstock-16-scholarship h2, #application-for-webstock-16-scholarship h3, #application-for-webstock-16-scholarship h4, #application-for-webstock-16-scholarship h5, #application-for-webstock-16-scholarship h6 {
    font-family: "baskerville-urw", Georgia, "Times New Roman", Times, serif; }

