.wrapper {
  margin: auto;
  
  .page-header &,
  .page-content & {
    @include container;
  }
}

.page-header,
.page-content {
  margin-bottom: $gutter_horizontal * 2;
}

.reading-length {
  @include reading-length;
  margin: auto;
}