.wrapper {
  @include container;
  margin: auto;
}

.page-header,
.page-content {
  margin-bottom: $gutter_horizontal * 2;
}

.page-header {
  text-align: center;
}

.reading-length {
  @include reading-length;
  margin: auto;
}

#home {
  .page-header-banner {
    margin-top: $gutter_horizontal * 2;
  }
  
  .page-header-banner,
  .reading-length {
    width: 90%;
    max-width: 30em;
    @media (min-width: 28em) {
      width: 80%;
    }
  }
}