$include_classes: false;
$max_reading_length: 38em;
$container_width_xs: 90%;
$container_width_sm: 90%;

$line_height_xxl: 1.15;

$font_family_serif:       "baskerville-urw", Georgia, "Times New Roman", Times, serif;
$font_family_sans_serif:  "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font_family_headings:    $font_family_serif;