.page-hero {
  @include hero-block;
  margin: $gutter_horizontal auto;
  max-width: $max_reading_length / 2;
}

.page-subtitle {
//   @include font-size-xs;
  @include font-size-sm;
  font-style: italic;
  font-weight: 400;
}