<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="page-header">
      <div class="wrapper">
        <hgroup class="page-hero">
          <h1 class="page-title">{{ page.title | improve }}</h1>
          {% if page.subtitle %}
          <h2 class="page-subtitle">{{ page.subtitle | improve }}</h2>
          {% endif %}
        </hgroup>
      </div>
    </header>

    <main class="page-content">
      <div class="wrapper">
        {{ content | improve }}
      </div>
    </main>

  </body>

</html>
